rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }
    function myRole() {
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.role;
    }
    function isAdmin() {
      return isSignedIn() && myRole() == 'admin';
    }
    function isFuncionario() {
      return isSignedIn() && myRole() == 'funcionario';
    }

    match /usuarios/{uid} {
      allow read: if isSignedIn() && (request.auth.uid == uid || isAdmin());
      allow create, update, delete: if isAdmin();
    }

    match /lancamentos/{id} {
      allow create: if isSignedIn() && (isAdmin() || isFuncionario())
                     && request.resource.data.criadoPor == request.auth.uid;
      allow read, update, delete: if isAdmin()
                     || (isFuncionario() && resource.data.criadoPor == request.auth.uid);
    }
  }
}
